.adm__dash {
  min-height: 100vh;
  display: flex;
}

.menu {
  visibility: hidden;
}

.adm__dash__left {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 10rem;
  background-color: #353A40;
  color: #fff;
}

.adm__dash__right {
  display: block;
  /* width: 100; */
  margin: 0 1rem;
  justify-content: space-around;
}

.a-dash-l {
  height: 3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.a-dash-l:hover {
  background-color: #5c5c5c;
}


.a__update-form-container {
  min-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  color: #353a40;
}

.a__update-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.a__update-form {
  display: flex;
  flex-direction: column;
}

.a__form-group {
  margin-bottom: 20px;
}

.a__update-form-container label {
  font-weight: bold;
}

.a__update-form-container input[type='text'],
.a__update-form-container input[type='email'],
.a__update-form-container input[type='password'] {
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
}

.a__update-form-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #353a40;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.a__update-form-container button:hover {
  background-color: #1c1f23;
}

.a__assignment-grid {
  text-align: center;
  display: grid;
  margin: 2rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

.a__assignment-card {
  padding: 20px;
  max-height: 12rem;
  min-width: 12rem;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.a__assignment-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.a__deadline {
  font-size: 14px;
  margin-bottom: 10px;
}

.a__view-button {
  padding: 8px 16px;
  background-color: #353a40;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.a__view-button:hover {
  background-color: #1c1f23;
}


@media (max-width: 1024px) {
  .a__assignment-grid {
    grid-template-columns: repeat(2, 1fr);
    /* 2 grid components in tablet */
  }
}

@media (max-width: 600px) {
  .a__assignment-grid {
    grid-template-columns: repeat(1, 1fr);
    /* 1 grid component in mobile */
  }
}

/* Payment */

.payment-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.payment-box {
  display: grid;
  height: 50vh;
  width: 50vw;

  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.payment-heading {
  grid-column: 1 / span 2;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.payment-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.payment-label {
  font-weight: bold;
}

.payment-value {
  font-weight: bold;
  color: #555555;
}

.payment-button {
  grid-column: 1 / span 2;
  padding: 10px 20px;
  width: 10rem;
  height: 4rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.payment-button:hover {
  background-color: #0056b3;
}


/* Grievence */
.gravity-form {
  width: 70vw;
  margin: 4rem auto;
  height: 40vh;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gravity-form .form-group {
  margin-bottom: 20px;
}

.gravity-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.gravity-form input[type="text"],
.gravity-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.gravity-form .submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.gravity-form .submit-button:hover {
  background-color: #0056b3;
}

/* Home */

.admin-home-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.admin-box {
  padding: 50px;
  height: 8rem;
  width: 8rem;
  border-radius: 8px;
  text-align: center;
  color: #fff;
}

.student {
  background-color: #5cb85c;
}

.instructor {
  background-color: #f0ad4e;
}

.principal {
  background-color: #d9534f;
}

.course {
  background-color: #4fd9ce;
}


.payment-table {
  width: 85vw;
  height: auto;
  margin: 0 auto;
  border-collapse: collapse;
}

.payment-table th,
.payment-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #fff;
  background-color: #353a40;
  color: #fff;
}

.payment-table th {
  font-weight: bold;
  height: 3rem;
}

.payment-table tbody tr:hover {
  background-color: #555;
}

.payment-table tbody tr td {
  color: #fff;
  height: 3rem;
  padding: 13px;
}

.payment-table tbody tr {
  height: 2rem;
}

.payment-table button {
  padding: 8px 12px;
  background-color: #ff4136;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.payment-table button:hover {
  background-color: #00d664;
}


/* Grievence */

.grievance-list-table {
  width: 85vw;
  margin: 0 auto;
  border-collapse: collapse;
}

.grievance-list-table th,
.grievance-list-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #fff;
  background-color: #353a40;
  color: #fff;
}

.grievance-list-table th {
  font-weight: bold;
}

.grievance-list-table tbody tr:hover {
  background-color: #555;
}

.grievance-list-table tbody tr td {
  color: #fff;
  height: 2rem;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.grievance-list-table button {
  padding: 8px 12px;
  margin-right: 8px;
  background-color: #ff4136;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.grievance-list-table button:hover {
  background-color: #d60f00;
}

.delete-button {
  background-color: #f00;
}



@media (max-width: 1024px) {
  .adm__dash__left {
    width: 7rem;
  }

  .a__update-form-container {
    min-width: auto;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .adm__dash {
    flex-direction: column;
  }

  .menu {
    visibility: visible;
  }

  .adm__dash__left {
    width: 100%;
  }

  .adm__dash__right {
    margin: 1rem 0;
  }
}

@media (max-width: 600px) {
  .a__assignment-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .payment-box {
    grid-template-columns: 1fr;
  }

  .gravity-form {
    width: 90vw;
    height: auto;
  }

  .admin-home-container {
    flex-wrap: wrap;
  }

  .admin-box {
    width: 100%;
    margin-bottom: 1rem;
  }


}